<div class="add-edit">
	{% if include.edit != false %}
  <a href="{% if page.path %}http://prose.io/#{{site.github.repository_nwo}}/edit/{{site.defaultbranch}}/{{ page.path }}{% else %}http://prose.io/#{{site.github.repository_nwo}}{% endif %}" target="_blank" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit this page in Prose.io</a>
  {% endif %}

  {% if include.add != false %}
  <!-- Add post -->
  <a href="http://prose.io/#{{site.github.repository_nwo}}/new/{{site.defaultbranch}}/_posts/{{include.posttype}}" target="_blank" class="btn btn-default"><i class="fa fa-plus"></i> Add a post with Prose.io</a>
  {% endif %}
</div>