
/* COLORS */

// Colors based on San Mateo County style guide:
// https://opensanmateodocumentation.files.wordpress.com/2014/12/smc_style-guide-graphics-and-identity.pdf

// Primary Colors
$bay-blue: #056cb6;
$ocean-turquoise: #39839b;
$urban-gray: #7e8083;

// Secondary Colors
$dark-blue: #0076c0; //PMS 2935
$purple: #7e83bf; //PMS 272
$green: #8cd63f; //PMS 376
$warm-gray: #bbb0a6; //PMS Warm Gray 6
$orange: #faa634; //PMS 1375
$red: #b5121b; //PMS 1807
$dark-gray: #455560; //PMS 142
$white: #fff;
